html {
  font-family: 'Garamond';
  font-size: 17px;

  margin: 50px;
  background: #FCFDFE;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  padding: 0px;
}

hr.partial {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#trace-view {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#trace-info {
  width: 80%;
  font-style: italic; 
  font-family: Arial;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 30px;
  padding: 0px 20px 10px 20px;
  border-bottom: 2px solid #AAA;
}

.span {
  margin: 0px;
  padding: 8px 4px;
  border-bottom: 1px dotted black;
}

#traces {
  text-align: center;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  border: none;
}

#traces td {
  padding-bottom: 3px;
}

#traces th {
  padding-bottom: 14px;
}

#traces tr:nth-child(even) {
    background-color: #EEEEEE;
}

#traces .trace-id {                     
  width: 50%;                             
}                                         

#traces .no-spans, #traces .duration {
  width: 27%;                             
}                                         

